{% load static %}
<ul class="nav-links">
    <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseUtilities"
        aria-expanded="true" aria-controls="collapseUtilities">
        <span class="text-light">Dashboard</span>
    </a>
    
    <li>
        <a href="{% url 'dashboard' %}">
        <i class='bx bx-grid-alt fw-bold' ></i>
        <span class="link_name">Dashboard</span>
        </a>
        <ul class="sub-menu blank">
        <li><a class="link_name" href="{% url 'dashboard' %}">Dashboard</a></li>
        </ul>
    </li>
    <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseUtilities"
        aria-expanded="true" aria-controls="collapseUtilities">
        <span class="text-light">User Management</span>
    </a>
    
    
    <li>
        <a href="{% url 'view_all_customers' %}">
        <i class='bx bx-user fw-bold' ></i>
        <span class="link_name">Customers</span>
        </a>
        <ul class="sub-menu blank">
        <li><a class="link_name" href="{% url 'view_all_customers' %}">Customers</a></li>
        </ul>
    </li>


    <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseUtilities"
        aria-expanded="true" aria-controls="collapseUtilities">
        <span class="text-light">Additional Information</span>
    </a>

    <li>
        <a href="{% url 'log_out' %}">
        <i class='bx bx-log-out-circle fw-bold' ></i>
        <span class="link_name">Logout</span>
        </a>
        <ul class="sub-menu blank">
        <li><a class="link_name" href="{% url 'log_out' %}">Logout</a></li>
        </ul>
        </li>
</ul>
{% block javascript %}
{% endblock %}

